.Carousel {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	height: 120px;
	box-shadow: 0 3px 6px 0 rgb(58 77 149 / 16%);
	font-size: 16px;
	color: white;
	margin: 30px;
	overflow-x: auto;
	overflow-y: hidden;
}

.Carousel::-webkit-scrollbar {
	height: 10px;
}

.Carousel::-webkit-scrollbar-thumb {
	background-color: rgb(193,193,193);
	border-radius: 10px;
	height: 10px;
	border: 3px solid transparent;
}

.Card {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	flex: 0 0 200px;
	word-wrap: normal;
	background-color: #3A4D95;
	margin: 10px;
	padding: 10px;
	text-transform: capitalize;
}